<main><div class="content">
<div class="row">
  <header><ul>
 <li><h5 id="filterLabel">{{selectedUserType ? selectedUserType.name : 'ALL'}}</h5></li>    
<li><h3 id="label">ACCOUNT</h3></li></ul>
</header>

   <!-- <div class="input-field col s4">
          <i class="material-icons prefix">search</i>
          <input #gb id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">Search</label>

        
        </div>-->
            <div class="search-wrapper card col s12">
                <div class="row">
            <div class="input-field col s4">
          <i class="material-icons prefix">search</i>
          <input #gb id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">Search</label>

       </div> 
       <div>
          <label>FILTER BY:</label>
            <p-dropdown [options]="ut" [style]="{'width':'150px'}"  [(ngModel)]="selectedUserType" placeholder="Select a UT"></p-dropdown>
 
           </div>
        </div>
          </div>
  


<div class="col s12">        


<p-dataTable  [lazy]="true" [totalRecords]="totalRecords" [value]="accounts" [paginator]="true" [rows]="10"  [globalFilter]="gb" [(selection)]="selectedAccount" (onRowSelect)="onRowSelect($event)" exportFilename="accounts"  (onLazyLoad)="loadAccountsLazy($event)" #dt>
 <p-header> <div class="ui-helper-clearfix">
    <div class="fixed-action-btn">
    <a class="btn-floating btn-large blue">
      <i class="large material-icons">menu</i>
    </a>
    <ul>
      <li><a class="btn-floating blue"><i class="material-icons">archive</i></a></li>
      <li><a class="btn-floating green" (click)="showDialogToAdd()"><i class="material-icons">person_add</i></a></li>
    </ul>
  </div>
   <a class="btn-floating green left" (click)="showDialogToAdd()"><i class="material-icons">person_add</i></a>
   <a class="btn-floating blue left" (click)="dt.exportCSV()"><i class="material-icons">archive</i></a>  
<!--
  <a class="btn-floating green left" (click)="showDialogToAdd()"><i class="material-icons">person_add</i></a>
  <a class="btn-floating yellow darken-1 left"><i class="material-icons">mode_edit</i></a>
  <a class="btn-floating red left"><i class="material-icons">delete_sweep</i></a>
  <a class="btn-floating blue left" (click)="dt.exportCSV()"><i class="material-icons">archive</i></a>  
     -->      
        </div></p-header>
  
  <p-column field="UserName" header="UserName"></p-column>
  <p-column field="FirstName" header="FirstName" [filter]="true" filterPlaceholder="Search"></p-column>
  <p-column field="MiddleName" header="MiddleName" [filter]="true" filterPlaceholder="Search"></p-column>
  <p-column field="LastName" header="LastName"></p-column>
  <p-column field="DateCreated" header="Date Created"></p-column>
  <p-column field="IsActive" header="Active"></p-column>
  <p-column field="DateCreated" header="Access Type"></p-column>
  <p-column field="IsActive" header="Role"></p-column>
  <p-column header="Action"><template pTemplate="body" let-col let-account="rowData">
    <div>
     
    
  
      <a class="btn-floating yellow darken-1" (click)="onViewData(account)" ><i class="material-icons">mode_edit</i></a>
      <a class="btn-floating red"><i class="material-icons">delete_sweep</i></a>

   </div></template>
  </p-column>
<p-footer></p-footer>
</p-dataTable>

<p-dialog header="Account Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
<p-tabView>
    <p-tabPanel header="User Info">
      <div id="personDetails">
    <form [formGroup]="accountForm" novalidate>
  
    <div class="row">
    <div class="col s4">
 
    <label class="center-block">First Name:
    <input formControlName="firstName">
    </label>
    <validation-control [control]="accountForm.controls.firstName"></validation-control>
 
    <label class="center-block">Middle Name:
    <input formControlName="middleName">
    </label>
    <label class="center-block">Last Name:
    <input formControlName="lastName">
    </label>
    <label class="center-block">UserName:
    <input formControlName="userName">
    </label>
    <label class="center-block">Password:
    <input formControlName="password" type="password">
    </label>
    <label class="center-block">Confirm Password:
    <input formControlName="confirm" type="password">
    </label>
    <label class="center-block">User Type:
    
    </label>
     <select formControlName="userType" class="none">
           <option value="" disabled selected>Choose your option</option>
      <option *ngFor="let userType of userTypes" [value]=userType.Id >{{userType.Name}}</option>
    </select>
    </div>
    <div class="col s8" formGroupName="assignedCurrency">
    <label>Assigned Currency:</label>
    <p-selectButton  [options]="cu" formControlName="selectedCurrencyCodes" multiple="multiple"></p-selectButton>
    <div class="divider"></div>
    <p>Form value: {{ accountForm.value | json }}</p>
    <p>Form status: {{ accountForm.status | json }}</p>
    </div>
    </div>
    </form> 
    </div>
    </p-tabPanel>
    <p-tabPanel header="Access Info">
        Content 2
    </p-tabPanel>
   
</p-tabView>

 
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete" *ngIf="displayDelete">Delete</button>
            <button type="button" pButton icon="fa-check" (click)="save()" label="Save">Save</button>
            <button type="button" pButton icon="fa-check" (click)="save()" label="Save">Edit</button>
        </div>
    </p-footer>
</p-dialog>


</div>
</div>
</div>
</main>
<footer class="page-footer white">
          <div class="container">
            <div class="row">
              <div class="col s8">
             <!--   <h5>Logs</h5>
                <div >
               <p-dataScroller [inline]="true" scrollHeight="150px"  [value]="logs" [rows]="10" [lazy]="true" [buffer]="0.4" (onLazyLoad)="loadData($event)">
 <template let-log pTemplate="item">
   <span>{{log.Message}}</span>
    </template>
</p-dataScroller></div>
              </div>
              <div class="col s4">
                <h5>Links</h5>
                <ul>
                  <li><a  href="#!">Link 1</a></li>
                  <li><a  href="#!">Link 2</a></li>
                  <li><a  href="#!">Link 3</a></li>
                  <li><a  href="#!">Link 4</a></li>
                </ul>-->
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a  href="#!">More Links</a>
            </div>
          </div>
</footer>


            
