<div class="container" >
    <div class="row">
        <div class="card medium col s8"><div class="card-content">
            <div class="title">
                <h3>LOGIN</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="input-field col s8">
                        <input [(ngModel)]="user.username" id="username" type="text" class="validate">
                        <label for="username">USERNAME</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s8">
                        <input [(ngModel)]="user.password" id="password" type="password" class="validate">
                        <label for="password">PASSWORD</label>
                    </div>
                </div>
                    <span class="error">{{errorMsg}}</span>
                    <button (click)="login()" class="waves-effect waves-teal btn-flat" type="submit" name="action"><i class="material-icons right">send</i>LOGIN</button>
            </div>
            </div>
        </div>
    </div>
</div>