<main>

    <div class="side-nav fixed light-blue accent-4 white-text">
      
            <div>
                <span>Place Holder</span>
                <br />
                <a (click)="logout()" href="#">Click Here to logout</a>
                </div>
                <div class="divider white"></div>
                <div class="section">
                <h5>Lorem Ipsum</h5>
                <ul>
                <li><a routerLink="./" routerLinkActive="active">Account</a></li>
                <li><a routerLink="./bank" routerLinkActive="active">Role Management</a></li>
                <li><a routerLink="./bank" routerLinkActive="active">Criteria</a></li>
                <li><a routerLink="./bank" routerLinkActive="active">Bank</a></li>
                </ul>
                </div>
            </div>
        
    

        <div id="homeMain">
        <router-outlet></router-outlet>
        </div>

</main>
